.invisibleTile {
  width: 64px;
  height: 64px;
  border-radius: 14px;
  background: transparent;
}

@media (max-width: 768px) {
  .invisibleTile {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 480px) {
  .invisibleTile {
    width: 44px;
    height: 44px;
  }
}
