#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: light;
}

body {
  background-color: #080A18;
  overflow-y: hidden;
}
