#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  padding: 110px 32px 48px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 768px) {
  .App {
    padding: 96px 20px 32px;
  }
}
